@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(127, 255, 212, 0.484);
}




.google img {
    width: 40px;
    
}

.google {
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    border: none;
    position: relative;
    left: 60px;
    top: 6px;
}

.linha-ou {
  display: flex;
  align-items: center;
  text-align: center;
  
  font-weight: bold;
}

.linha-ou hr {
  flex: 1;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 10px; 
}


.container {
    width: 420px;
    background-color: white;
    border: 2px solid rgba(255, 255, 255,.2);
    border-radius: 10px;
    color: rgb(20, 9, 9);
    padding: 20px 40px;
    height: 520px;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgb(131, 122, 122);
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
    border: 1.5px solid rgb(11, 7, 7);
}

.input-box input::placeholder {
    color: rgb(6, 5, 5);
}

.input-box  i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.remember-forgot {
    display: flex;
    margin: -15px 0 15px;
    justify-content: space-between;
}

.remember-forgot  label input {
    accent-color: rgb(8, 51, 193);
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: rgb(43, 17, 239);
    font-weight: 600;
    
}


.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 40px;
    background: rgb(209, 208, 208);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600px;
    box-shadow: 0 0 10px  rgba(0, 0, 0, .1);
    margin-top: 5px;
}

.login:hover {
    background-color: transparent;
    color: rgb(8, 7, 7);
    border: 1px solid rgb(78, 48, 48);
    transition: 0.5;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
    color: rgb(13, 7, 7);
}

.register-link a {
    text-decoration: none;
    color: rgb(43, 17, 239);
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}

.Google { 
     width: 100%;
    height: 100%;
    border: none;
    border-radius: 40px;
    background: rgb(224, 224, 224);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600px;
    box-shadow: 0 0 10px  rgba(0, 0, 0, .1);
    margin-top: 5px;
}
